
.parent{
    display: flex;
}

.child{
    background-color: grey;
    border: 1px solid greenyellow;
    width: 300px;
    height: 300px;
}

.parent div:nth-child(2){
    position: absolute;
    background-color: black;
    left: 10px;
    top:10px;
}