
.parent{
    display: flex;
}

.child{
    background-color: grey;
    width: 300px;
    height: 300px;
}

.parent div:nth-child(2){
    background-color: black;
    position: fixed;
    left: 10px;
    top:10px;
}