
/* 1. This is ID Selector */
#headerTop {
    background-color: #FA4E23;
    color: white;
}

/* 2. This is Tag Selector */
/* div{
    background-color: cadetblue;
    color: white;
} */

/* 3. THis is class selector */

.bg-color{
    background-color: #FA4E23;
    color: black;
}

.content-panel{
    background-color: coral;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 20px;
}

/* Background, height, width */
.content{
    height: 120px;
    width: 120px;
    background-image: url("https://img.etimg.com/thumb/msid-75176755,width-640,resizemode-4,imgsize-612672/effect-of-coronavirus-on-food.jpg");
}

/* Border */
/* margin: top right bottom left */
.spanPage{
    border-color: #8c96ab;
    border-width: 1px;
    border-style: dashed;
    border-radius: 70px;
    margin: 10px 10px 10px 10px;
    padding: 4px 9px 4px 9px;
}

/* Display */
.divPaginator{
    display: flex;
}

/* margin */

.margin-5{
    margin: 5px;
}