
.backg{
    background-color: brown;
}

.parent{
    left: 100px;
}

.display-div{
    background-color: lightseagreen;
    position: relative;
    padding: 25px;
    border: 25px solid lightgreen;
    margin: 25px;
    margin-top: 100px;
    /* visibility: hidden; */
    /* display: none; */
}

.display-span{
    display: inline-block;
    height: 100px;
    width: 200px;
}

/* Types of display */
/* Inline */
/* Block */